#blink {
	-webkit-animation: blink 0.7s linear infinite;
	animation: blink 0.7s linear infinite;
}
@-webkit-keyframes blink {
	50% {
		color: rgb(255, 255, 255);
	}
	51%{
		color:rgba(255,255,255,0);
	}
	100%{
		color:rgba(255,255,255,0);
	}
}
@keyframes blink {
	50% {
		color: rgb(255, 255, 255);
	}
	51%{
		color:rgba(255,255,255,0);
	}
	100%{
		color:rgba(255,255,255,0);
	}
}